@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="jtleft">
        <h4>Team Members</h4>
        <p>
            Blake Freeman <br />
            Timothy Kelly <br />
            Zachariah Scovill <br />
            Bryan Winmill <br />
            Danny Xiong <br />
        </p>
    </div>
    <div id="jtright">
        <h4>Project 1</h4>
        <p>
            CS 3750 <br />
            Task List 
        </p>
    </div>

</div>

<div id="accordion">
    @using WebApplication1.Models;
    @{
        var db = new Project1TodoEntities();
        var listItems = db.TodoLists;
        var listModel = listItems.ToList();
        foreach (var ListItem in listModel)
        {
            <h3>@ListItem.listName</h3>
            var db2 = new Project1TodoEntities();
            var itemsItem = db2.Items.Where(i => i.list_id == ListItem.list_id);
            <div>
                <p>
                    <table class="table">
                        <tr>
                            <th>
                                Task Name
                            </th>
                            <th>
                                Is Done
                            </th>
                        </tr>
                        @foreach (var items in itemsItem)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => items.taskName)
                                </td>
                                <td >
                                    @Html.DisplayFor(model => items.isDone)
                                    @Html.ActionLink("Edit", "Edit", new { id = items.item_id })
                                </td>
                            </tr>
                        }
                    </table>
                </p>
            </div>
        }
    }
</div>
