@model IEnumerable<WebApplication1.Models.Item>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="jtleft">
        <h4>Team Members</h4>
        <p>
            Blake Freeman <br />
            Timothy Kelly <br />
            Zachariah Scovill <br />
            Bryan Winmill <br />
            Danny Xiong <br />
        </p>
    </div>
    <div id="jtright">
        <h4>Project 1</h4>
        <p>
            CS 3750 <br />
            Task List 
        </p>
    </div>
</div>
<!-- Accordion -->
<h2 class="ui-accordion">Accordion</h2>
<div id="accordion">
	<h3>First</h3>
	<div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
	<h3>Second</h3>
	<div>Phasellus mattis tincidunt nibh.</div>
	<h3>Third</h3>
	<div>Nam dui erat, auctor a, dignissim quis.</div>
</div>
