@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="jtleft">
        <h4>Team Members</h4>
        <p>
            Blake Freeman <br />
            Timothy Kelly <br />
            Zachariah Scovill <br />
            Bryan Winmill <br />
            Danny Xiong <br />
        </p>
    </div>
    <div id="jtright">
        <h4>Project 1</h4>
        <p>
            CS 3750 <br />
            Task List 
        </p>
    </div>
    



</div>