
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="jtleft">
        <h4>Team Members</h4>
        <p>
            Blake Freeman <br />
            Timothy Kelly <br />
            Zachariah Scovill <br />
            Bryan Winmill <br />
            Danny Xiong <br />
        </p>
    </div>
    <div id="jtright">
        <h4>Project 1</h4>
        <p>
            CS 3750 <br />
            Task List 
        </p>
    </div>
</div>
@model IEnumerable<WebApplication1.Models.Project1TodoEntities>
<!-- Accordion -->
<h2 class="ui-accordion">Accordion</h2>
<div id="accordion">
    
    @foreach (var item in Model)
    {
    }
	<h3>Header</h3>
    <div>
        <p>content<br />  </p>
    </div>
    
</div>
